<div class="question">
    <hp class= "user_question"> <%= @question %></p>
    <h3 class="you"><i>-You</i></h3>
</div>

<div class="answer">
    <h3 class= "coach_answer"> <%= @answer %></h3>
    <h3 class="you"><i>-Your coach</i></h3>
</div>

<%= link_to "Ask a new question", ask_path %>